<% provide(:title, 'Contact') %>
<div class="categories">
  <ul class="nav nav-pills">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sales", sales_path %></li>
    <li><%= link_to "Housing", housing_path %></li>
    <li><%= link_to "Employment", employment_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Community", community_path %></li>
  </ul>
</div>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>