<div class="categories">
  <ul class="nav nav-pills">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sales", sales_path %></li>
    <li><%= link_to "Housing", housing_path %></li>
    <li><%= link_to "Employment", employment_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li class="active"><%= link_to "Events", events_path %></li>
    <li><%= link_to "Community", community_path %></li>
  </ul>
</div>