<div class="categories">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sales", sales_path %></li>
    <li><%= link_to "Housing", housing_path %></li>
    <li><%= link_to "Employment", employment_path %></li>
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Community", community_path %></li>
  </ul>
</div>

<div class="center hero-unit banner">
  <h1>UConn's Husky Exchange Market!</h1>

  <h2>
    Purchase/sell your items today!
  </h2>
  <% if not signed_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<% if signed_in? %>
  <div class="row">
    <aside class="span4 user-product">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/product_form' %>
      </section>
    </aside>
	<h3>Recently Posted Items:</h3>
	<%= render 'shared/feed' %>
  </div>
<% else %>
	<!--
	<h3>Recently Posted Items:</h3>
	<div class="items-stack">
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
		<div class="item">
			<a href="">iPod Touch</a>
			<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
		</div>
	</div>
-->

	<h3>Recently Posted Items:</h3>
	<%= render 'shared/feed' %>
<% end %> 