<li id="<%= feed_item.id %>">
  <span class="user"><%= link_to feed_item.user.name, feed_item.user %> is selling <%= feed_item.name %> for $<%= feed_item.price %></span>
  <div><%= feed_item.description %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>