<div class="products well">
	<span class="user" title="<%= product.name %>"><%= product.name %></span>
	<div class="description"><%= product.description %></div>
	<div class="info">
		<div class="price">
			$<%= product.price %>
		</div>
		<div class="timestamp">
		Posted <%= time_ago_in_words(product.created_at) %> ago.
		</div>
	</div>
	<% if current_user?(product.user) || current_user.admin?%>
		<%= link_to "edit", edit_product_path(product) %> | 
		<%= link_to "delete", product, method: :delete, data: { confirm: "You sure?" }, title: product.name %>
	<% end %>
</div>