<h1>Search Results</h1>

<ul class="users">
	<% @products.each do |product| %>
	<li>
		<%= link_to User.find(product.user_id).name, User.find(product.user_id) %> - <%= product.name %><br><br>
		Description: <%= product.description %><br><br>
		Price: $<%= product.price %><br>
		Category: <%= product.category %>
	</li>
	<% end %>
</ul>